@font-face {
    font-family: 'Recoleta-Bold';
    src: url('./Recoleta/Recoleta-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Recoleta-Regular';
    src: url('./Recoleta/Recoleta-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
}

body{
  background-color: #FFD991;
}

header{
  text-align: center;
  color: #FFF5E2;
  font-size: 50px;
  font-family: "Recoleta-Bold";
}

h1 {
  text-align: center;
  font-size: 30px;
 font-family: Recoleta-Bold;
 color: #b57700
}

a {
  text-align: center;
  text-decoration: none;
}

p {
  font-family: Recoleta-Regular;
  font-size: 18px;
}

section {
  max-width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
}

img {
  border-radius: 20%;
  max-width:100%;
  display:inline-block;
}

.container {
  position: relative;
  width: 30%;
  display:inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width:100%;
  max-height: 100%;
  display:inline-block;
  opacity: 0;
  transition: 1s ease;
  border-radius: 20%;
}

.container:hover .overlay {
  opacity: 1;
}

@keyframes slideIn {
         0% {
           height: 0%;
         }
         100% {
           height: 100%;
         }
       }

.ribbon {
  z-index: -1;
  border-left: 99px solid clear;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 0
  }

  .vertical {

    border-left: 99px solid red;
    position: fixed;
    animation-name: slideIn;
    animation-duration: 2s;
    top: 0;
    bottom: 0;
    left: 15%;
    right: 0;
    z-index: -1;
  }

.vertical2 {
  border-left: 66px solid #ffc425;
  position: fixed;
  animation-name: slideIn;
  animation-duration: 1.5s;
  top: 0;
  bottom: 0;
  left: 15%;
  right: 0;
  z-index: -1;
  transition: 1.25s
}

.vertical3 {
  border-left:33px solid #00aedb;
  position: fixed;
  animation-name: slideIn;
  animation-duration: 1s;
  top: 0;
  bottom: 0;
  left: 15%;
  right: 0;
  z-index: -1;
}

.about {
  width: 50%;
  margin: auto;
}

.bodytext {
  text-align: justify;
}

.special {
  width: 30%;
  margin: auto;
}

.quote {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.quoteauthor {
  text-align: right;
  font-style: italic;
  font-size: 20px;
}

.aboutimg {
  text-align: center;
}

.picture {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: block;
  text-align: center;
}
