@font-face {
    font-family: 'Recoleta-Bold';
    src: url('./Recoleta/Recoleta-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Recoleta-Regular';
    src: url('./Recoleta/Recoleta-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
}

body{
  background-color: #b1a99d;
}

header{
  color: #FFF5E2;
  font-size: 200px;
  font-family: "Recoleta-Bold";

}
header1{
  color: #FFF5E2;
  font-size: 75px;
  font-family: "Recoleta-Bold";

}

h1 {
  text-align: center;
  font-size: 30px;
 font-family: Recoleta-Bold;
 color: #FFF5E2;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

a {
  text-align: center;
  text-decoration: none;
}

p {
  font-family: Recoleta-Regular;
  font-size: 18px;
}

li{
  font-family: Recoleta-Regular;
  font-size: 18px;
}

z {
  font-family: Recoleta-Bold;
  color: #FFF5E2;
  font-size: 150px;
  position: fixed;
  bottom: 4%;
  left: 4%;
}
z1 {
  font-family: Recoleta-Bold;
  color: #FFF5E2;
  font-size: 75px;
  position: fixed;
  bottom: 4%;
  left: 4%;
}

z2 {
  font-family: Recoleta-Bold;
  color: #FFF5E2;
  font-size: 60px;
  position: fixed;
  top: 5%;
  left: 2%;
}

z3 {
  font-family: Recoleta;
  color: #FFF5E2;
  font-size: 25px;
  position: fixed;
  top: 15%;
  left: 2%;
  right: 75%;
}

section {
  max-width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
}

img {
  border-radius: 20%;
  max-width:100%;
  display:inline-block;
}


.container {
  position: relative;
  width: 30%;
  display:inline-block;
}

.container1 {
  position: relative;
  left: 25%;
  width: 70%;
  
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width:100%;
  max-height: 100%;
  display:inline-block;
  opacity: 0;
  transition: 1s ease;
  border-radius: 20%;
}

.container:hover .overlay {
  opacity: 1;
}


@keyframes slideIn1 {
  
      0%{
       width: 33px;
       height: 0px;
      }
      100%{
      width: 33px;
      height: 99px;
      }
}

.vertical {
  position: fixed;
  background-color: #00aedb;
  left: 50%;
  top: 50%;
  transform: translate(-150%,-50%);
  animation-name: slideIn1;
  animation-duration: 3s;
  width: 33px;
  height: 99px;
}

.vertical2 {
  position: fixed;
  background-color: #ffc425;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation-name: slideIn1;
  animation-duration: 3s;
  width: 33px;
  height: 99px;
  }

  .vertical3 {
    position: fixed;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    animation-name: slideIn1;
    animation-duration: 3s;
    width: 33px;
    height: 99px;
  }


.about {
  width: 50%;
  margin: auto;
}

.bodytext {
  text-align: justify;
}

.foot {
  text-align: justify;
  font-size: small;
}

sup {
font-size: x-small;  
}

.special {
  width: 30%;
  margin: auto;
}

.quote {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.poem {
  text-align: left;
  font-style: italic;
  font-size: 18px;
  padding: 0;
  margin: 2px;
}

.quoteauthor {
  text-align: right;
  font-style: italic;
  font-size: 20px;
}

.aboutimg {
  text-align: center;
}

.picture {
  position: fixed;
  width: 50%;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

.label {
  display: block;
  margin: auto;
  position:fixed;
  color:white;
  bottom: 10%;
}

.name{
  position: absolute;
  bottom: 0;
  left: 3%;
  color: black;
  font-size: 50px;
  font-family: "Recoleta-Bold";
}

.centerbox{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@keyframes slideIn {
  0% {
    height: 33px;
    width: 0px;
  }
  100% {
    height: 33px;
    width: 200px;
  }
}

@keyframes slideIn2 {
  0% {
    height: 10px;
    width: 0px;
  }
  100% {
    height: 10px;
    width: 200px;
  }
}
.horizontal {
  position: fixed;
  background-color: #00aedb;
  color: #FFF5E2;
  line-height: 33px;
  font-family: "Recoleta-Bold";
  overflow: clip;
  text-wrap: nowrap;
  animation-name: slideIn;
  animation-duration: 1s;
  width: 200px;
  height: 33px;
}

.horizontal2 {
  position: fixed;
  background-color: #ffc425;
  color: #FFF5E2;
  line-height: 33px;
  font-family: "Recoleta-Bold";
  overflow: clip;
  text-wrap: nowrap;
  animation-name: slideIn;
  animation-duration: 1s;
  width: 200px;
  height: 33px;
  }

  .horizontal3 {
    position: fixed;
    background-color: red;
    color: #FFF5E2;
    line-height: 33px;
    font-family: "Recoleta-Bold";
    overflow: clip;
    text-wrap: nowrap;
    animation-name: slideIn;
    animation-duration: 1s;
    width: 200px;
    height: 33px;
  }




  
  /* Tooltip text */
  sup .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #FFF5E2;
    text-align: left;
    font-size: small;
    padding: 7px 10px;
    margin: 10px;
    border-radius: 7px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  sup:hover .tooltiptext {
    visibility: visible;
  }